/*v0.4*/

/* ordre toolbars */
#titlebar { -moz-box-ordinal-group: 0 !important; }
#toolbar-menubar { -moz-box-ordinal-group: 10 !important; }
#PersonalToolbar { -moz-box-ordinal-group: 20 !important; }
#nav-bar { -moz-box-ordinal-group: 30 !important; }
#TabsToolbar { -moz-box-ordinal-group: 100 !important }

/* Remove the Hamburger Button */
/* #PanelUI-menu-button {display: none;} */
